<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>

<body>
  <h2>Hello {{name}} ! </h2>
  <h2>THIS IS PAGE FOR NOTIFICATION EMAIL</h2>
  <p>{{message}}</p>
</body>

</html>