<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>

<body>
  <h2>Hello ! </h2>
  <h2>Please click on given link to verifikasi email</h2>
  {{!-- <a href="{{http}}/#/auth/aktifverifikasi/{{token}}">Reset Your Pasword</a> --}}
  <a href="{{http}}/#/auth/verifikasiemail/{{token}}">Verification email</a>
  <p>please ignore this email if you don't want to be verified.</p>
</body>

</html>