html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
/* html, body {
    height: 100%;
} */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
}

.full-height {
    height: 100vh;
    background: rgb(231, 233, 243)!important;
    border-right: solid 0.01rem rgb(213, 209, 209);
  }
p {
    padding: 10px;
}

#wrapper {
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
}

#contentliquid {
    float: left;
    width: 100%;
}

#content {
    background: #FFFFFF;
    margin-left: 200px;
}
#contentfull {
    background: #FFFFFF;
}


#contentnomenu {
    background: #dee2e6;
}


#leftcolumn {
    float: left;
    background: #f8f9fa;
    width: 200px;
    margin-left: -100%;
   
}

.p-component {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8rem!important;
}
.p-inputtext {
    font-size: 0.8rem!important;
    padding: 0.25rem 0.5rem!important;
}


.autosrc .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token {
    padding: 0.05rem 0!important;
}


.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
    padding: 0.05rem 0.5rem!important;
}
.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token input {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-size: 0.7rem!important;
    
}

.p-field {
    margin-bottom: 0.1rem!important;
}
.p-field > label {
    margin-bottom: 0.2rem!important;
}
.p-button {
    padding: 0.233333rem 1rem!important;
    font-size: 0.8rem!important;
    /* border-radius: 3px!important; */
}
.p-primary-btn {
    background-color: #08736f!important;
    border: #08736f 0.1rem solid!important;
    /* border-radius: 3px!important; */
}
.p-info-btn {
    background-color: #0a9827!important;
    border: #0a9827 0.1rem solid!important;
    /* border-radius: 3px!important; */
}
.pi {
    font-size: 0.8rem!important;
}
.p-toolbar {
    padding: 0.01rem!important;
    border-radius: 1px!important;
    border: none!important;
    border-bottom: solid 0.05rem #dee2e6!important;
}
.p-menubar {
    padding: 0.233333rem!important;
    border: none!important;
}
.p-menu .p-menuitem-text {
    font-size: 0.8rem!important;
}
.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.1rem 1rem!important;
}
.vertAlignTop {
    vertical-align: top!important;
}
.vertAlignCenter {
    vertical-align: middle;
}
.p-button.p-button-icon-only.p-button-rounded.cstnoheader {
    height: 1.357rem!important;
}


.p-ml-2 {
    margin-left: 2px;
}
.p-ml-5 {
    margin-left: 5px;
}
.p-ml-10 {
    margin-left: 10px;
}
.p-pt-10 {
    padding-top: 10px;
}
.p-pt-15 {
    padding-top: 13px;
}
.p-pb-10 {
    padding-bottom: 10px;
}
.p-pb-15 {
    padding-bottom: 14px;
}
.p-pa-10 {
    padding: 10px;
}
.forcecenter {
display: flex;
justify-content: center;
    
}
.p-breadcrumb {
    border: none!important;
    padding: 1rem!important;
}
.p-card .p-card-title {
    font-size: 1rem!important;
    font-weight: 500!important;
    margin-bottom: 0.5rem!important;
}
.p-card .p-card-content {
    padding: 0.1rem 0!important;
}
.p-cst-primary {
    background:#e8f0fa!important;
}


.cst-p-1{
    padding: 1px!important;
}

.p-header-w50 img {
    width: 50%!important;
}

.wrapper {
    padding: 1px 20px 1px 20px;
}

.btntitle {
    font-size: 12px;
    font-weight: 600;
  }

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

.wrapperinside {
    width: 97%;
    margin: auto;
    background-color: #fff;
    position: relative;
  }

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #16697A;
    }
    40% {
        stroke: #489FB5;
    }
    66% {
        stroke: #82C0CC;
    }
    80%,
    90% {
        stroke: #FFA62B;
    }
}

@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
.ui-blockui {
    position : fixed!important;
 }